<div class="card mb-3 {{ class }}">
  <div class="card-header">
    <div class="c-pointer row" (click)="isCollapsed = !isCollapsed">
      <ng-template [ngIf]="alignment">
        <div class="col-12 text-{{ alignment }}"><span class="h6">{{ title }}</span></div>
      </ng-template>

      <ng-template [ngIf]="!alignment">
        <div class="col-6"><span class="h6">{{ title }}</span></div>
        <div class="col-6 font-weight-bold text-right c-pointer"
             *ngIf="collapsable">
          {{ collapseText }}
          <i class="fa fa-{{ isCollapsed ? 'caret-right' : 'caret-down' }} pl-4"
             aria-hidden="true"></i>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="card-block" *ngIf="!isCollapsed">
    <ng-content></ng-content>
  </div>
</div>
