<div class="form-group row" [ngClass]="{ 'has-danger': errors && errors.length > 0 }">
  <label class="col-{{ isWide ? '2' : '4' }} col-form-label" *ngIf="label" [class.required]="isRequired">{{label}}</label>

  <div class="col-{{ isWide ? '10' : '8' }}" [ngSwitch]="type" [class.input-group]="prefix || affix">
    <div *ngIf="prefix" class="input-group-addon">{{ prefix }}</div>

    <ng-content *ngSwitchCase="null"></ng-content>

    <div *ngSwitchCase="'boolean'" class="form-check">
      <label class="form-check-label">
        <input [(ngModel)]="value" [name]="name" type="checkbox" class="form-check-input" [disabled]="isReadOnly">
        {{ placeholder }}
      </label>
    </div>
    
    <arvo-multi-select *ngSwitchCase="'multi-select'"
                      [name]="name"
                      [isReadOnly]="isReadOnly"
                      [typeAhead]="typeAhead"
                      [column]="column"
                      [hasDefaultList]="hasDefaultList"
                      [showUngroupedList]="showUngroupedList"
                      [defaultListText]="defaultListText"
                      [defaultListGroups]="defaultListGroups"
                      [defaultListItems]="defaultListItems"
                      [hideSelectedItems]="hideSelectedItems"
                      [labelMap]="labelMap"
                      (onSearchComplete)="onSearchComplete.emit($event)"
                      [(ngModel)]="value">
    </arvo-multi-select>

    <div *ngSwitchCase="'radio'" class="form-check">
      <div class="row">
        <div *ngFor="let val of values" class="col-6">
          <label class="form-check-label">
            <input [(ngModel)]="value" [name]="name" type="radio" class="form-check-input mr-3" [value]="mapValue(val, valuesMap.value)" [disabled]="isReadOnly">
            {{ mapValue(val, valuesMap.label) }}
          </label>
        </div>
      </div>
    </div>

    <input *ngSwitchCase="'integer'" (blur)="validate()" [(ngModel)]="value" [name]="name" type="text" class="form-control" [placeholder]="placeholder || ''" [readonly]="isReadOnly">

    <input *ngSwitchCase="'number'" (blur)="validate()" [(ngModel)]="value" [name]="name" type="text" class="form-control" [placeholder]="placeholder || ''" [readonly]="isReadOnly">
    
    <div *ngSwitchCase="'percent'"  (blur)="validate()" class="input-group">
      <input [(ngModel)]="value" [name]="name" type="text" class="form-control" [placeholder]="placeholder || '-100 to 100'" [readonly]="isReadOnly">
      <span class="input-group-addon bg-primary border-0">%</span>
    </div>

    <div *ngSwitchCase="'cents'" class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" [name]="name" [(ngModel)]="value" class="form-control">
    </div>

    <!-- <input [(ngModel)]="value" [name]="name" type="text" class="form-control" [placeholder]="placeholder || ''" [readonly]="isReadOnly"> -->

    <input *ngSwitchCase="'email'" (blur)="validate()" [(ngModel)]="value" [name]="name" type="email" class="form-control" [placeholder]="placeholder || ''" [readonly]="isReadOnly">

    <input *ngSwitchCase="'password'" (blur)="validate()" [(ngModel)]="value" [name]="name" type="password" class="form-control" [placeholder]="placeholder || ''" [readonly]="isReadOnly">

    <textarea *ngSwitchCase="'textarea'" (blur)="validate()" [(ngModel)]="value" [name]="name" class="form-control" [readonly]="isReadOnly" [placeholder]="placeholder || ''"></textarea>

    <ng-container *ngSwitchCase="'date'">
      <div class="input-group">
        <dp-date-picker 
          #datePicker
          [(ngModel)]="value"
          [displayDate]="value"
          (close)="validate()"
          [name]="name"
          [mode]="'day'"
          [theme]="'dp-day-picker'"
          [placeholder]="placeholder || 'dd/mm/yyyy'"
          [disabled]="isReadOnly"
          [config]="{ format: 'DD/MM/YYYY', closeOnSelect: true, showMultipleYearsNavigation: true }"
        ></dp-date-picker> 
        <span class="input-group-addon bg-primary border-0" (click)="openCalendar()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'daytime'">
      <div class="input-group">
        <dp-date-picker 
          #datePicker
          [(ngModel)]="value"
          [displayDate]="value"
          (close)="validate()"
          (onBlur)="validate($event)"
          [name]="name"
          [mode]="'daytime'"
          [theme]="'dp-day-picker'"
          [placeholder]="placeholder || 'dd/mm/yyyy hh:mm a'"
          [disabled]="isReadOnly"
          [config]="{ format: 'DD/MM/YYYY HH:mm a', closeOnSelect: true, showMultipleYearsNavigation: true }"
        ></dp-date-picker> 
        <span class="input-group-addon bg-primary border-0" (click)="openCalendar()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <select (change)="validate()" *ngIf="!isLoading" [ngModel]="value" (ngModelChange)="updateSelect($event)" [name]="name" class="form-control" [disabled]="isReadOnly">
        <option [ngValue]="undefined">{{ placeholder || 'Please select' }}</option>
        <option *ngFor="let val of values" [ngValue]="mapValue(val, valuesMap.value)">{{ mapValue(val, valuesMap.label) }}</option>
      </select>

      <div *ngIf="isLoading" class="form-control text-center">
        <span class="fa fa-circle-o-notch fa-spin"></span>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'toggle'">
      <div class="btn-group btn-group-toggle" ngbRadioGroup [name]="name" [(ngModel)]="value">
        <ng-container *ngFor="let val of values; let i = index">
          <label ngbButtonLabel class="btn-xs btn-toggle toggle-{{ i }}">
            <input ngbButton type="radio" [value]="mapValue(val, valuesMap.value)" [disabled]="isReadOnly">{{ mapValue(val, valuesMap.label) }}
          </label>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'file'">
      <input type="file" [name]="name" id="file" [disabled]="isReadOnly" class="form-control" (change)=updateFile($event)/>
    </ng-container>

    <input *ngSwitchDefault (blur)="validate()" [(ngModel)]="value" [name]="name" type="text" class="form-control" [placeholder]="placeholder || ''" [readonly]="isReadOnly">

    <div *ngIf="affix" class="input-group-addon">{{ affix }}</div>

    <ng-container *ngIf="errors && errors.length > 0">
      <div class="form-control-feedback" *ngFor="let error of errors">
        {{error.message}}
      </div>
    </ng-container>
  </div>
</div>
