.multi-select {
  position: relative;

  .selected-items {
    border: 1px solid black;
  }

  /deep/ ngb-typeahead-window.dropdown-menu {
    width: 100% !important;
    margin: 0;
    padding: 0;
    border: 1px solid black;
  }
}

.display-list {
  position: absolute;
  background-color: white;
  z-index: 100;
}

.result-list {
  border: 2px solid #ebebeb;
}

.result-item:hover {
  background-color: #111;
  color: white;
  cursor: pointer;
}

.default-group-list {
  border: 2px solid #ebebeb;
}

.default-list-divider {
  border: 1px solid #ebebeb;
}

.group-item {
  &:hover {
    color: black;
  }
}
