<div class="arvo-list">
  <h1 *ngIf="title" class="my-4 font-weight-bold text-primary-dark">{{ title }}</h1>
  <div class="arvo-page-title">
    <div class="row">
      <div class="col-md-6">
        <ng-template [ngIf]="hasSearchFilters">
          <div class="search-input-wrapper d-flex justify-content-start align-items-center mb-3">
            <input (input)="search()" type="text" [(ngModel)]="searchText" class="form-control search-input-form" [placeholder]="searchPlaceholder || 'Search a term...'">
            <button class="btn btn-tertiary search-input-button ml-2" (click)="search()">Search<i class="fa fa-search ml-2"></i></button>
          </div>
          <div class="d-flex justify-content-start align-items-center" *ngFor="let query of searchQueries; let i = index">
            <arvo-form-field class="w-50" type="select" placeholder="Select Column" [(ngModel)]="query.field"
                             [values]="searchFilters" [valuesMap]="{ label: 'label', value: 'field' }">
            </arvo-form-field>
            <span class="mx-1 mb-3"><i class="fa fa-chevron-right mx-1"></i></span>
            <arvo-form-field class="w-50" type="select" placeholder="Select Filter" [(ngModel)]="query.operator"
                             [values]="filterTypes" [valuesMap]="{ label: 'label', value: 'key' }">
            </arvo-form-field>
            <span class="mx-1 mb-3"><i class="fa fa-chevron-right mx-1"></i></span>
            <arvo-form-field class="w-75" *ngIf="!query.field" type="text" placeholder="Value" [(ngModel)]="query.firstValue"></arvo-form-field>

            <ng-template [ngIf]="query.field">
              <arvo-form-field [type]="query.field.type" [(ngModel)]="query.firstValue"
                               [placeholder]="query.field.placeholder"
                               [values]="query.field.values" [valuesMap]="query.field.valuesMap"
                               class="w-75 search-filter-input"
                               [class.mr-1]="query.operator === 'between'">
              </arvo-form-field>

              <arvo-form-field [type]="query.field.type" [(ngModel)]="query.secondValue"
                               *ngIf="query.operator === 'between'"
                               [placeholder]="query.field.placeholder"
                               [values]="query.field.values" [valuesMap]="query.field.valuesMap"
                               class="w-75 ml-1 search-filter-input">
              </arvo-form-field>
            </ng-template>
            <button class="btn btn-quinary mb-3 ml-1" (click)="removeSearchQuery(query)"><i class="fa fa-remove"></i></button>
          </div>
          <button *ngIf="searchFilters.length" class="btn btn-primary" (click)="addSearchQuery()">Add Filter</button>
        </ng-template>
      </div>

      <div class="col-md-6 text-right">
        <button *ngIf="addPath" class="btn btn-primary" [routerLink]="addPath">{{ addLabel }}</button>
      </div>
    </div>
  </div>

  <div class="arvo-page-content">
    <div class="arvo-list-container py-4">
      <ng-content></ng-content>

      <div class="arvo-list-body">
        <div *ngIf="showPagination" class="row mb-3">
          <div class="col-md-6 align-self-center">
            <select (change)="refresh(itemsPerPage)" [(ngModel)]="itemsPerPage" class="form-control w-auto flexible-form mb-2">
              <option *ngFor="let num of rowsPerPage" [ngValue]="num"><span class="font-weight-bold">{{num}}</span> results per page</option>
            </select>
            <p *ngIf="numItems > 0" class="font-weight-bold mb-0">Showing {{ 0 + ((currentPage - 1) * itemsPerPage) }} - {{ currentPage * itemsPerPage }} of {{ numItems }} items</p>
          </div>

          <div class="col-md-6">
            <ul class="pagination pull-right">
              <li (click)="prevPage()" class="page-item rounded-left c-pointer">
                <a class="page-link">&laquo;</a>
              </li>

              <ng-template [ngIf]="pages.length < 5">
                <li (click)="selectPage(num)" class="page-item c-pointer" *ngFor="let num of pages" [ngClass]="{ active: num === currentPage }">
                  <a class="page-link">{{num}}</a>
                </li>
              </ng-template>

              <ng-template [ngIf]="pages.length >= 5">
                <li (click)="selectPage(1)" class="page-item c-pointer" *ngIf="numPages !== 1 && currentPage !== 1">
                  <a class="page-link">1</a>
                </li>

                <li (click)="selectPage(currentPage - 1)" class="page-item c-pointer" *ngIf="currentPage > 2">
                  <a class="page-link">{{ currentPage - 1 }}</a>
                </li>

                <li (click)="selectPage(currentPage)" class="page-item c-pointer active">
                  <a class="page-link">{{ currentPage }}</a>
                </li>

                <li (click)="selectPage(currentPage + 1)" class="page-item c-pointer" *ngIf="numPages - currentPage > 1">
                  <a class="page-link">{{ currentPage + 1 }}</a>
                </li>

                <li (click)="selectPage(numPages)" class="page-item c-pointer rounded-right" *ngIf="numPages - currentPage > 0">
                  <a class="page-link">{{ numPages }}</a>
                </li>
              </ng-template>

              <li (click)="nextPage()" class="page-item c-pointer">
                <a class="page-link">&raquo;</a>
              </li>
            </ul>

            <div class="clearfix"></div>
          </div>
        </div>

        <arvo-table [rows]="data"
                    [columns]="columns"
                    [actions]="rowActions"
                    (rowCheckboxChange)="updateRowCheckbox($event)"
                    (sortHeader)="onHeaderSelect($event)"
                    (select)="onSelect($event)">
        </arvo-table>

        <div *ngIf="showPagination" class="row mt-3">
          <div class="col-md-6 align-self-center">
            <select (change)="refresh(itemsPerPage)" [(ngModel)]="itemsPerPage" class="form-control w-auto flexible-form mb-2">
              <option *ngFor="let num of rowsPerPage" [ngValue]="num"><span class="font-weight-bold">{{num}}</span> results per page</option>
            </select>
            <p *ngIf="numItems > 0" class="font-weight-bold mb-0">Showing {{ 0 + ((currentPage - 1) * itemsPerPage) }} - {{ currentPage * itemsPerPage }} of {{ numItems }} items</p>
          </div>

          <div class="col-md-6">
            <ul class="pagination pull-right">
              <li (click)="prevPage()" class="page-item rounded-left c-pointer">
                <a class="page-link">&laquo;</a>
              </li>

              <ng-template [ngIf]="pages.length < 5">
                <li (click)="selectPage(num)" class="page-item c-pointer" *ngFor="let num of pages" [ngClass]="{ active: num === currentPage }">
                  <a class="page-link">{{num}}</a>
                </li>
              </ng-template>

              <ng-template [ngIf]="pages.length >= 5">
                <li (click)="selectPage(1)" class="page-item c-pointer" *ngIf="numPages !== 1 && currentPage !== 1">
                  <a class="page-link">1</a>
                </li>

                <li (click)="selectPage(currentPage - 1)" class="page-item c-pointer" *ngIf="currentPage > 2">
                  <a class="page-link">{{ currentPage - 1 }}</a>
                </li>

                <li (click)="selectPage(currentPage)" class="page-item c-pointer active">
                  <a class="page-link">{{ currentPage }}</a>
                </li>

                <li (click)="selectPage(currentPage + 1)" class="page-item c-pointer" *ngIf="numPages - currentPage > 1">
                  <a class="page-link">{{ currentPage + 1 }}</a>
                </li>

                <li (click)="selectPage(numPages)" class="page-item c-pointer rounded-right" *ngIf="numPages - currentPage > 0">
                  <a class="page-link">{{ numPages }}</a>
                </li>
              </ng-template>

              <li (click)="nextPage()" class="page-item c-pointer">
                <a class="page-link">&raquo;</a>
              </li>
            </ul>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
