<div class="arvo-list">
  <h1 *ngIf="title" class="my-4 font-weight-bold text-primary-dark">{{ title }}</h1>
  <div class="arvo-page-title">
    <div class="row">
      <div class="col-md-6">
        <div class="search-input-wrapper d-flex justify-content-start align-items-center mb-3">
          <input type="text" class="form-control search-input-form" placeholder="Search a term...">
          <button class="btn btn-tertiary search-input-button">Search</button>
        </div>
        <div class="d-flex justify-content-start mb-3" *ngFor="let query of searchQueries; let i = index">
          <select [(ngModel)]="query.path" class="column-item-select">
            <option *ngFor="let column of columns" [ngValue]="column.field">{{ column.label }}</option>
          </select>
          <span><i class="fa fa-chevron-right mx-1"></i></span>
          <select [(ngModel)]="query.operator" class="search-filter-select">
            <option *ngFor="let filter of filterTypes" [ngValue]="filter.key">{{ filter.label }}</option>
          </select>
          <span><i class="fa fa-chevron-right mx-1"></i></span>
          <input [(ngModel)]="query.firstValue" type="text" class="form-control search-filter-input">
          <input *ngIf="query.operator === 'between'" [(ngModel)]="query.secondValue" type="text" class="form-control search-filter-input">
        </div>
        <button class="btn btn-primary" (click)="addSearchQuery()">Add Another</button>
      </div>

      <div class="col-md-6 text-right">
        <button *ngIf="addPath" class="btn btn-primary" [routerLink]="addPath">{{ addLabel }}</button>
      </div>
    </div>
  </div>

  <div class="arvo-page-content">
    <div class="arvo-list-container py-4">
      <ng-content></ng-content>

      <div class="arvo-list-body">
        <arvo-table [rows]="data"
                   [columns]="columns"
                   [actions]="rowActions"
                   (rowCheckboxChange)="updateRowCheckbox($event)"
                   (sortHeader)="onHeaderSelect($event)"
                   (select)="onSelect($event)">
        </arvo-table>

        <div *ngIf="showPagination" class="row mt-3">
          <div class="col-md-6">
            <select (change)="refresh(itemsPerPage)" [(ngModel)]="itemsPerPage" class="w-auto flexible-form">
              <option *ngFor="let num of rowsPerPage" [ngValue]="num"><span class="font-weight-bold">{{num}}</span> results per page</option>
            </select>
          </div>

          <div class="col-md-6">
            <ul class="pagination pull-right">
              <li (click)="prevPage()" class="page-item rounded-left c-pointer">
                <a class="page-link">&laquo;</a>
              </li>

              <ng-template [ngIf]="pages.length < 5">
                <li (click)="selectPage(num)" class="page-item c-pointer" *ngFor="let num of pages" [ngClass]="{ active: num === currentPage }">
                  <a class="page-link">{{num}}</a>
                </li>
              </ng-template>

              <ng-template [ngIf]="pages.length >= 5">
                <li (click)="selectPage(1)" class="page-item c-pointer" *ngIf="numPages !== 1 && currentPage !== 1">
                  <a class="page-link">1</a>
                </li>

                <li (click)="selectPage(currentPage - 1)" class="page-item c-pointer" *ngIf="currentPage > 2">
                  <a class="page-link">{{ currentPage - 1 }}</a>
                </li>

                <li (click)="selectPage(currentPage)" class="page-item c-pointer active">
                  <a class="page-link">{{ currentPage }}</a>
                </li>

                <li (click)="selectPage(currentPage + 1)" class="page-item c-pointer" *ngIf="numPages - currentPage > 1">
                  <a class="page-link">{{ currentPage + 1 }}</a>
                </li>

                <li (click)="selectPage(numPages)" class="page-item c-pointer rounded-right" *ngIf="numPages - currentPage > 0">
                  <a class="page-link">{{ numPages }}</a>
                </li>
              </ng-template>

              <li (click)="nextPage()" class="page-item c-pointer">
                <a class="page-link">&raquo;</a>
              </li>
            </ul>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
