:host {
  display: flex;
  flex-direction: column;
}

:host {
  flex: 1;
}

.arvo-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  .arvo-list-container {
    flex: 1;
  }
}

.flexible-form {
  height: calc(2.07125rem + 2px);
}


