<div class="d-flex flex-row justify-content-between mt-3 nav-item" [class.text-primary]="isUrlActive">
  <div class="pl-3 c-pointer" (click)="goto(data)">{{ data.label }}</div>
  <div *ngIf="data.children" class="pr-3 text-right c-pointer" (click)="goto()"><i class="fa fa-caret-{{ data.toggle ? 'down' : 'right' }}" aria-hidden="true"></i></div>
</div>

<div class="pl-3" *ngIf="data.children && data.toggle">
  <ng-template ngFor [ngForOf]="data.children" let-subItem>
    <app-nav-item [data]="subItem"></app-nav-item>
  </ng-template>
</div>
