.card {
  border-width: 2px !important;
}

.info {
  background-color: rgba(244, 177, 39, 0.1);
}

.success {
  background-color: rgba(85, 187, 68, 0.1);
}

.warning {
  background-color: rgba(225, 40, 63, 0.1);
}
