<h1 class="mb-3 font-weight-bold text-primary-dark">{{ title }}</h1>

<arvo-info-panel *ngFor="let ip of infoPanels" [theme]="ip.theme || 'info'">{{ ip.message }}</arvo-info-panel>

<button class="btn btn-grey font-weight-bold mb-3" (click)="back()">Back</button>
<ng-container *ngIf="!readOnly">
  <button class="btn btn-secondary font-weight-bold mb-3" [routerLink]="['edit']">{{ editLabel || 'Edit' }}</button>
</ng-container>

<button *ngFor="let button of extraActions" class="{{ button.class }}" (click)="button.do()">{{ button.label }}</button>

<ng-content></ng-content>